// variables
$main-font: 'Raleway', sans-serif;
$main-font-size: 14px;
$header-font-size: 40px;

$main-content-margins: 50px;
$gallery-spacing: 2%;

$main-color: #000000;
$secondary-color: #ffffff;

html, body {margin: 0; padding: 0;}

html {
  font-family: $main-font;
  font-size: $main-font-size;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: $header-font-size;
  font-weight: 800;
  margin: $main-content-margins $main-content-margins;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
  margin: 0 $main-content-margins;

  img {
    width: 23.5%;
    padding: 0 $gallery-spacing $gallery-spacing 0;

    &:nth-child(4n) {
      padding-right: 0;
    }
  }
}

.footer {
  display: flex;
  padding: 20px $main-content-margins;
  // margin-top: auto;
  background-color: $main-color;
  color: $secondary-color;

  >div {
    flex: 1;
  }

  .about {
    a {
      font-weight: bold;
      color: $secondary-color;
    }
  }

  .social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      margin-left: 5px;
    }
  }
}
