// variables
$main-font: 'Raleway', sans-serif;
$main-font-size: 18px;
$header-font-size: 40px;

$main-content-margins: 50px;

$main-color: #000000;
$secondary-color: #ffffff;

// reset browser default padding and margins
html, body {margin: 0; padding: 0;}

html {
  font-family: $main-font;
  font-size: $main-font-size;
}

h1 {
  font-size: $header-font-size;
  font-weight: 800;
  margin: 0 $main-content-margins;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 0 $main-content-margins;
  background-color: $main-color;
  color: $secondary-color;
}
