$main-font: 'Raleway', sans-serif;
$main-font-size: 14px;
$header-font-size: 40px;

$main-content-margins: 50px;
$mobile-content-margins: $main-content-margins / 2;

$main-color: #000000;
$secondary-color: #ffffff;
