@import "variables";

html, body {margin: 0; padding: 0;}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $main-font;
  font-size: $main-font-size;
}

h1 {
  font-size: $header-font-size;
  font-weight: 800;
  margin: $main-content-margins $main-content-margins;

  @media (max-width: 576px) {
    margin: $mobile-content-margins $mobile-content-margins;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
  margin: 0 $main-content-margins 10px $main-content-margins;

  img {
    width: 23.5%;
    padding: 0 $gallery-spacing $gallery-spacing 0;
    transition: all 1s;

    @media (min-width: 769px) {
      &:nth-child(4n) {
        padding-right: 0;
      }
    }

    @media (min-width: 577px) and (max-width: 768px) {
      width: 32%;

      &:nth-child(3n) {
        padding-right: 0;
      }
    }

    @media (max-width: 576px) {
      width: 49%;

      &:nth-child(2n) {
        padding-right: 0;
      }
    }
  }

  @media (max-width: 576px) {
    margin: 0 $mobile-content-margins 10px $mobile-content-margins;
  }
}

.footer {
  display: flex;
  padding: 20px $main-content-margins;
  background-color: $main-color;
  color: $secondary-color;

  >div {
    flex: 1;
  }

  .about {
    a {
      font-weight: bold;
      color: $secondary-color;
    }
  }

  .social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      margin-left: 5px;
    }

    @media (max-width: 576px) {
      justify-content: flex-start;

      img {
        margin: 0 5px 0 0;
      }
    }
  }

  @media (max-width: 576px) {
    flex-direction: column-reverse;
    padding-left: $mobile-content-margins;
    padding-right: $mobile-content-margins;
  }
}
